.my-carousel-height {
  max-height: 540px;
}

/* To make slide images darker and cover the container */
.my-carousel-img {
  object-fit: cover;
  filter: brightness(0.4);
}

.my-review {
  height: 180px;
  background-color: #cfcfcf;
}
